/* Get rid of border from other pages since pic butts up against header*/
.masthead-wrap {
  border: none;
  margin-bottom: 0;
}

/* Photos Callout and Explaination of Page */
.photos-tron {
  background: url("../img/photos-main2.jpeg") no-repeat center;
  background-size: cover;
  height: 60vh;
  text-align: center;
}

.callout {
  padding-top: 280px;
  color: #ffffff;
  font-size: 1.1rem;
  margin: 0;
}

/* Callout to add a photo */
.photoAddWrap {
  margin: 20px auto;
  width: 70%;
  text-align: center;
}

.add {
  display: inline-block;
  color: #777675;
  font-size: 1.1rem;
  border: 2px solid #57737e;
  padding: 10px;
  letter-spacing: 1px;
}

.add a {
  color: #57737e;
  text-decoration: underline;
}

.fit {
  width: 100%;
}

/* Media Query */
@media only screen and (min-width: 510px) {
  .callout {
    padding-top: 320px;
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .add {
    padding: 15px;
  }

  .photos-tron {
    height: 70vh;
  }

}

@media only screen and (min-width: 620px) {
  .photos-tron {
    background: url("../img/photos-main.jpeg") no-repeat center;
    background-size: cover;
    height: 60vh;
  }
}
